.save {
  display: inline;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #48bbfe;
	color: #FFF;
	margin: 15px 20px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.save:hover {
  background-color: rgba(72, 187, 254, 0.6);
  cursor: pointer;
}

.load {
  display: inline;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #48bbfe;
	color: #FFF;
	margin: 15px 20px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.load:hover {
  background-color: rgba(72, 187, 254, 0.6);
  cursor: pointer;
}
