.todo {
	display: flex;
  width: 90%;
	padding: 10px 15px;
	background-color: #FFF;
  margin: 0 auto;
	border-bottom: 1px solid #DDD;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
  position: relative;
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
  width: 90%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin: 20px auto;
	font-size: 20px;
	outline: none;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.todo-submit:hover {
  background-color: rgba(254, 72, 128, 0.6);
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: inline;
  margin: 10px 20px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
}

.save {
  display: inline;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #48bbfe;
	color: #FFF;
	margin: 15px 20px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.save:hover {
  background-color: rgba(72, 187, 254, 0.6);
  cursor: pointer;
}

.load {
  display: inline;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #48bbfe;
	color: #FFF;
	margin: 15px 20px;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

.load:hover {
  background-color: rgba(72, 187, 254, 0.6);
  cursor: pointer;
}
